name: Build and Push Backend

on:
  workflow_call:
    inputs:
      # Define the 'ref' input
      ref:
        description: 'The Git reference (branch/tag) to use for deployment'
        required: true
        type: string
      # Define the 'deploy-environment' input
      deploy-environment:
        description: 'The environment to deploy to (e.g., staging, production)'
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with: 
          ref: ${{ inputs.ref }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/object-storage-browser-backend:${{ inputs.deploy-environment }}
            ghcr.io/${{ github.repository }}/object-storage-browser-backend:latest
